<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="main" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Spreadsheets;Integrated Security=True"/>
  </connectionStrings>
</configuration>