@model IEnumerable<Services.Fee>
<table class="table-bordered table-hover table col-md-6">
    <thead>
        <tr>
            <th>State</th>
            <th>County</th>
            <th>Product Type Name</th>
            <th>Current Price</th>
            <th>Pending</th>
        </tr>
    </thead>

    @foreach (var fee in Model)
    {
        <tr>
            <td>@fee.State</td>
            <td>@fee.County</td>
            <td>@fee.ProductTypeName</td>
            <td>$@fee.CurrentPrice</td>
            <td><span class="glyphicon @(fee.Pending ? "glyphicon-ok" : "glyphicon-remove")"></span></td>
        </tr>
    }
</table>